@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Roboto'), 
    url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype');
}

.page {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.banner {
  box-sizing: border-box;
  width: 700px;
}

.title {
  margin: 0;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: -1.6px;
  color: #000;
}

.title__theme-yellow {
  color: #f9ed32;
  /* padding */
}

.description {
  max-width: 580px;
  margin: 28px 0 0 0;
  font-size: 18px;
  line-height: 1.33;
  color: #000;
}

.feedback {
  margin-top: 50px;
}

.feedback__label {
  font-size: 0;
}

.feedback__input {
  box-sizing: border-box;
  min-width: 250px;
  padding: 12px 13px;
  border: 3px solid #06f;
  border-radius: 5px 0 0 5px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #9ca0ac;
}

.feedback__btn {
  position: relative;
  padding: 15px 42px 15px 16px;
  border-radius: 0 5px 5px 0;
  border: #ffdead;
  background: #06f;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  color: #fff;
  cursor:  pointer;
}

.arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.advantages {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
  font-size: 0;
}

.advantages__item {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  color: #000;
}

.advantages__item:first-child {
  padding-left: 0;
}

.advantages__item::before {
  content : '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  right: -2.5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #000;
}

