@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Akrobat'), url('/4/fonts/Akrobat-SemiBold.woff2') format('woff2'),
    url('/4/fonts/Akrobat-SemiBold.woff') format('woff'),
    url('/4/fonts/Akrobat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Akrobat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Akrobat'), url('/4/fonts/Akrobat-Bold.woff2') format('woff2'),
    url('/4/fonts/Akrobat-Bold.woff') format('woff'),
    url('/4/fonts/Akrobat-Bold.ttf') format('truetype');
}

.page {
  margin: 0;
  font-family: 'Akrobat', Helvetica, sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 23px 215px 23px 86px;
}

.logo {
  font: 0/0 a;
}

.header-nav-list {
  box-sizing: border-box;
  width: 643px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}

.header-nav-link {
  font-family: 'Akrobat', Helvetica, sans-serif;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.header-nav-link__current {
  color: #f00;
}

.header-switch-lang {
  position: absolute;
  top: 0;
  right: 0;
  padding: 46px 45px;
  border: none;
  font-size: 20px;
  font-family: 'Akrobat', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #ce0002;
  cursor: pointer;
}

.header-switch-lang:hover {
  background: #fe0002;
}

.header-switch-lang:active {
  background: #a60002;
}
