.page {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.title{ 
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 1.1;
}

.dimensions {
    box-sizing: border-box;
    width: 317px;
}

.dimensions__list {
    font: 0 / 0 a;
}

.dimension {
    display: inline-block;

    margin: 4px 4px 0 0;

    cursor: pointer;
}

.dimension__check:checked + .dimension__value  {
    border: 1px solid #2CB708;
}

.dimension__value:hover {
    border: 1px solid #2CB708;
}

.dimension__value {
    display: inline-block;

    margin: 0;
    padding: 7px;

    border: 1px solid #eee;
    border-radius: 3px;

    background-color: #eee;

    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333232;
}

.dimension__check {
    position: absolute;
    appearance: none;
}
