@font-face {
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Aeonik"),
         url("./fonts/aeonik-regular.woff2") format("woff2"),
         url("./fonts/aeonik-regular.woff") format("woff"),
         url("./fonts/aeonik-regular.ttf") format("truetype");    
} 

.page {
    display: flex;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.transactions {
    min-width: 392px;
    margin: 0;
    padding: 0 32px;
    list-style: none;
}

.transaction {
    padding: 16px 16px 16px 0;
    border-bottom: 1px solid #e3e3e8;
    font: 0/0 a;
}

.transaction__currency-image {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50px;
    background: linear-gradient(90deg, #f9aa4b, #f7931a);
}

.transaction__currency {
    vertical-align: top;
}

.transaction__currency-image, .transaction__currency {
    display: inline-block;
}

.transaction__currency-image img {
    /* меня заставили так делать( запретили использовать flex...  памагитее */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transaction__currency-name, .transaction__recent {
    font-family: 'Aeonik', Helvetica, sans-serif;
    margin: 0;
}

.transaction__currency-name {
    font-size: 14px;
    line-height: 1.45;
    font-weight: 700;
    color: #000;
}

.transaction__recent {
    margin-top: 2px;
    font-size: 12px;
    line-height: 1.35;
    color: #717184;
}

.transaction__recent-value {
    color: #5235E8;
}
